/* Custom CSS */
.sheet.setup,
.sheet.item,
.sheet.skill,
.sheetV2.character {
  background-color: rgba(0, 0, 0, 0);
  background: url(../../../modules/rpg-styled-ui/ui/frames/chat.webp);
  background-size: 100% 100%;
  --main-sheet-bg: rgba(0, 0, 0, 0);;
  box-shadow: unset;
  background-color: transparent !important;
}

.sheet.setup,
.sheet.item,
.sheet.skill,
.sheetV2.character form .container .sheet-header {
  background-color: rgba(0, 0, 0, 0);
  padding:  20px;
}

.sheet.setup .window-header,
.sheet.item .window-header,
.sheet.skill .window-header,
.sheetV2 .window-header {
  min-height: 35px;
  margin: 0.5rem 0.5rem 0;
  padding-left: 1.5rem;
  border: 0 !important;
  background: url(../../../modules/rpg-styled-ui/ui/frames/header.webp);
  background-size: 100% 100%;
}

.sheetV2 .window-content {
background-color: rgba(0, 0, 0, .25);
background: unset;
}

.sheet,
.sheetV2.character form {
border: 0px solid black;
}

.sheetV2.character form .container .sheet-header .characteristics .char-box .charac-score,
.sheetV2.character form .container .sheet-header .characteristics .char-box .charac-score input {
background: #333;
}

.sheetV2.character form .container .sheet-body {
border: 0px solid #444;
}

.sheetV2.character form .container .sheet-body .monitor span,
.sheetV2 .window-content .combat-panel .section-header.skill,
.sheetV2 .window-content .combat-panel .section-header,
.sheetV2.character form .container .sheet-nav a.active span {
background-color: #444;
}

.sheetV2 .development .skills-list .item {
border-bottom: 1px solid #444;
}

.sheetV2.character form .container .sheet-nav {
border-top: 0px solid #555;
}

.sheetV2 .development .skills-list .item .adjustment-value,
.sheetV2.character form .container .sheet-header .infos {
border-right: 1px solid #444;
}

.coc7.sheet .window-content,
.sheetV2.character form .container {
background-image: unset;
/* todo: replace background image with a grayscale one */
}

.sheetV2 .development .skills-list .item .adjustment-value.locked {
  background-color: #333;
}

.sheetV2.character form .container .sheet-body .hp-group input,
.sheetV2.character form .container .sheet-body .hp-group {
  color: red;
}
.sheetV2.character form .container .sheet-body .san-group input,
.sheetV2.character form .container .sheet-body .san-group {
  color: green;
}

.sheetV2.character form .container .sheet-body .magic-group,
.sheetV2.character form .container .sheet-body .magic-group input {
  color: teal;
}

.coc7.sheet.item .sheet-header .name input,
.coc7.sheet.occupation .sheet-header .name input,
.coc7.sheet.setup .sheet-header .name input,
.coc7.sheet.skill .sheet-header .name input,
.coc7 input[type=number],
.coc7 input[type=text],
.coc7 select,
.coc7 .sheet-header .summary input,
.coc7.sheet .window-content,
.game-icon:before,
.sheetV2 .window-content .combat-panel .weapon-list .weapon-row.expanded .expand-arrow,
.sheetV2 .development .skills-list .item input,
.sheetV2 .development .skills-list .item span,
.sheetV2.character .floating-left,
.sheetV2.character label,
.sheetV2.character input,
.sheetV2.character div,
.sheetV2.character form .container .sheet-header .characteristics .char-box .charac-score,
.sheetV2.character form .container .sheet-header .characteristics .char-box .charac-score input,
.sheetV2.character form .container .sheet-header .characteristics .char-box .charac-name,
.sheetV2.character form .container .sheet-header .characteristics .footer,
.sheetV2.character form .container .sheet-header .characteristics .footer .attribute-label h2,
.sheetV2.character form .container .sheet-header .characteristics .footer .attribute-value,
.sheetV2.character form .container .sheet-body,
.sheetV2.character form .container .sheet-body ol,
.sheetV2.character form .container .sheet-body ul,
.sheetV2.character form .container .sheet-body .luck-group input,
.sheetV2.character form .container .sheet-body .luck-group,
.sheetV2.character form .container .sheet-body .itemV2 .item-name,
.sheetV2.character form .container .sheet-body .itemV2 .item-score,
.sheetV2.character form .container .sheet-body .itemV2 .item-name input,
.sheetV2.character form .container .sheet-body .itemV2 .item-score input,
.sheetV2.character form .container .sheet-nav .unlock-control,
.sheetV2.character form .container .sheet-nav .tab-name span {
  color: #bbb;
  font-size: 0.875rem;
}