.sheetV2.actor.character {
    font-family: 'Modesto Condensed';
    background-color: transparent !important;
}

.sheetV2.actor.character .sheet-header .infos {
    color: #b7002e;
    font-size: 20px;
}

.sheetV2.actor.character .sheet-header .infos input {
    color: #d3d3d3;
    font-size: 20px;
}

.sheetV2.character form .container .sheet-header .characteristics .char-box .charac-name {
    color: #d3d3d3;
    font-size: 22px;
}

.sheetV2.character form .container .sheet-header .characteristics .char-box .roll-icon {
    color: #b7002e;
    font-size: 15px;
}

.sheetV2.actor.character .window-content {
    --main-sheet-bg: url("https://i.ds.at/XWrfig/rs:fill:750:0/plain/2020/01/16/harold.jpg") no-repeat;
    background: rgba(0, 0, 15, 0.75);
    color: #e0e0e0;
}

.sheetV2.actor.character form .container .sheet-nav .tab-name span {
    color: #b7002e;
    font-family: 'Modesto Condensed';
    font-size: 22px;
}