.chat-sidebar {
  li.chat-message {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    border-width: 1px;
    background: #4141418f;
    color: #f0f0e0;
    min-height: 110px;

    &:has(.success) {
      border-color: #00b475ff;
      box-shadow: 0 0 5px #00b475ff, 0 0 5px #00b475ff inset;
      background: rgb(0,180,117);
      background: linear-gradient(0deg, rgba(0,180,117,0.6671918767507004) 0%, rgba(0,0,0,0) 100%);
    }

    &:has(.failure) {
      border-color: #b40000;
      box-shadow: 0 0 5px #b40000, 0 0 5px #b40000 inset;
      background: #b40000;
      background: linear-gradient(0deg, rgba(180,0,0,0.6671918767507004) 0%, rgba(0,0,0,0) 100%);
    }

    header {
      flex-wrap: wrap;
      flex-direction: row;
      img, span {
        flex: none !important;
        width: 60%;
        text-align: center;
        line-height: 16px;
        margin-bottom: 5px;
      }

      .message-delete {
        display: none;
      }

      img {
        position: absolute;
        right: 10px;
        top: 18%;
        width: 42px;
        height: 67px;
        border-radius: 50px;
        margin: 0;
        object-fit: cover;
        border-color: transparent !important;
      }
    }

    h4, span {
      color: #f0f0e0;
    }

    .chat-portrait-text-content-name-generic {
      margin: 0;
    }

    img {
      order: 2;
    }

    .dice-result {
      display: flex;
      justify-content: center;
      gap: 5px;

      .dice-formula {
        display: none;
      }

      * {
        flex: none;
        color: #f0f0e0;
        border: 0;
        box-shadow: none;
        background: transparent;
      }
    }

    .message-sender {
      display: none;
    }

    .message-timestamp {
      display: none;
    }

    .dice-formula {
      font-size: 0px;
      span {
        font-size: 15px
      }
    }
  }
}